@media (max-width: 576px) {
  #header {
    .container {
      .navmenu {
        ul {
          li {
            visibility: hidden;
          }
          .hidden {
            visibility: visible;
            position: relative;
            right: 60%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
